@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* Home */
body {
    padding-top: 10px;
    color: var(--body);
  }

  .container-fluid {
    padding: 0px !important;
  }

  .form_style {
    padding: 150px 600px;
  }

  .home-info {
    padding-top: 150px;
    display: flex;
    justify-content: space-around; 
  }

  .button {
    text-align:center;
    display: flex;
  }

  .btn-create {
    padding-right: 10px;
  }

  .btn-login {
    padding-left: 10px;
  }

.home {
  background-image: url("assets/cover.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(37, 39, 71, 0.7);
  z-index: -1;
}

.home-subtitle {
  padding-top: 10px;
}

.info {
  padding-bottom: 150px;
}

.btn-login {
  margin-left: 5px !important;
}

.client {
  margin-left: 400px !important;
}

.planner {
  margin-left: 100px;
}

/* navbar */
.navbar .nav-link {
  color: white !important;
}

.about-icon {
  margin-top: 6px !important;
  margin-left: 5px !important;
}

.mypage-icon {
  margin-top: 7px !important;
  margin-left: 5px !important;
}

.reserved-icon {
  margin-top: 5px !important;
  margin-left: 5px !important;
}

  /* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 30px !important;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  padding: 20px 0px !important;
  ul {
    color: red;
    margin: 0 0 30px 0 !important;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.check {
  display: flex !important;
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
}

.input_checkbox {
  width: 20px;
  height: 30px;
  margin-top: 5px;
}

.form_h1 {
  padding-bottom: 30px;
}

.form-badge {
  margin: 0px 0px 7px 5px !important;
}

.register {
  margin-bottom: 150px;
}

/* reservations */
.reservation_h1 {
  padding-top: 80px;
  padding-bottom: 20px;
}

td a {
  text-decoration: none !important;
}

#reservation-form {
  padding: 150px 150px;
}

#mypage-title {
  padding-top: 80px;
}

h3 {
  padding-top: 50px;
}

.new-form {
  padding-top: 30px;
}

/* planner_index */
td, th {
  vertical-align: middle;
}

/* client_profile */
.profile-image {
  margin-bottom: 7px;
  width:100px;
  height:100px;
  border-radius:50%;
}

.profile-index-image {
  width:50px;
  height:50px;
  border-radius:50%;
  margin-right: 20px;
}

/* planner_profile */
.planner-card {
  margin: 50px 280px 180px 280px !important;
}

.card-discription {
  /*線の種類（二重線）太さ 色*/
  border-bottom: double 5px black;
  margin-top: 60px;
}

.card-profile {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-top: 30px;
}

.card-profile:before, .card-profile:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.card-profile:before {
  left:0;
} 

.card-profile:after {
  right: 0;
}
